In [1]:
import pandas as pd
df = pd.read_csv("../../data/raw/TSLA.csv")

df.head()

FileNotFoundError: [Errno 2] No such file or directory: '../data/raw/TSLA.csv'

In [2]:
import pandas as pd
df = pd.read_csv("../../data/raw/TSLA.csv")

df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2018-04-23  19.419333  19.441334  18.822001  18.891333  18.891333  73401000
1  2018-04-24  19.000000  19.139334  18.563999  18.897333  18.897333  85279500
2  2018-04-25  18.900000  19.010668  18.483334  18.712667  18.712667  60204000
3  2018-04-26  18.583332  19.052668  18.433332  19.032000  19.032000  65340000
4  2018-04-27  19.024668  19.631332  18.922001  19.605333  19.605333  65469000

In [3]:
df.shape

(1258, 7)

In [4]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [5]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [6]:
print(df.duplicated().sum())

0

In [7]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03
mean,141.183041,144.468851,137.572984,141.093711,141.093711,1.359143e+08
std,115.246910,117.845138,112.282411,115.068959,115.068959,8.971719e+07
min,12.073333,12.445333,11.799333,11.931333,11.931333,2.940180e+07
25%,21.644667,22.190000,21.240500,21.854334,21.854334,7.747990e+07
50%,138.441673,141.926666,135.418335,138.178330,138.178330,1.065255e+08
75%,235.611672,239.940838,231.327495,236.144165,236.144165,1.658194e+08
max,411.470001,414.496674,405.666656,409.970001,409.970001,9.140820e+08

In [8]:
df['Open'].min()

12.073333

In [9]:
df['daily_returns'] = df['Close'].pct_change()
print(df.head())

         Date       Open       High        Low      Close  Adj Close
0  2018-04-23  19.419333  19.441334  18.822001  18.891333  18.891333  \
1  2018-04-24  19.000000  19.139334  18.563999  18.897333  18.897333
2  2018-04-25  18.900000  19.010668  18.483334  18.712667  18.712667
3  2018-04-26  18.583332  19.052668  18.433332  19.032000  19.032000
4  2018-04-27  19.024668  19.631332  18.922001  19.605333  19.605333

     Volume  daily_returns
0  73401000            NaN
1  85279500       0.000318
2  60204000      -0.009772
3  65340000       0.017065
4  65469000       0.030125

In [10]:
print(df.head())

         Date       Open       High        Low      Close  Adj Close
0  2018-04-23  19.419333  19.441334  18.822001  18.891333  18.891333  \
1  2018-04-24  19.000000  19.139334  18.563999  18.897333  18.897333
2  2018-04-25  18.900000  19.010668  18.483334  18.712667  18.712667
3  2018-04-26  18.583332  19.052668  18.433332  19.032000  19.032000
4  2018-04-27  19.024668  19.631332  18.922001  19.605333  19.605333

     Volume  daily_returns
0  73401000            NaN
1  85279500       0.000318
2  60204000      -0.009772
3  65340000       0.017065
4  65469000       0.030125

In [11]:
df['MA30'] = df['Close'].rolling(window=30).mean()
print(df.head())

         Date       Open       High        Low      Close  Adj Close
0  2018-04-23  19.419333  19.441334  18.822001  18.891333  18.891333  \
1  2018-04-24  19.000000  19.139334  18.563999  18.897333  18.897333
2  2018-04-25  18.900000  19.010668  18.483334  18.712667  18.712667
3  2018-04-26  18.583332  19.052668  18.433332  19.032000  19.032000
4  2018-04-27  19.024668  19.631332  18.922001  19.605333  19.605333

     Volume  daily_returns  MA30
0  73401000            NaN   NaN
1  85279500       0.000318   NaN
2  60204000      -0.009772   NaN
3  65340000       0.017065   NaN
4  65469000       0.030125   NaN

In [12]:
print(df.head(45))

          Date       Open       High        Low      Close  Adj Close
0   2018-04-23  19.419333  19.441334  18.822001  18.891333  18.891333  \
1   2018-04-24  19.000000  19.139334  18.563999  18.897333  18.897333
2   2018-04-25  18.900000  19.010668  18.483334  18.712667  18.712667
3   2018-04-26  18.583332  19.052668  18.433332  19.032000  19.032000
4   2018-04-27  19.024668  19.631332  18.922001  19.605333  19.605333
5   2018-04-30  19.573999  19.915333  19.500000  19.593332  19.593332
6   2018-05-01  19.567333  20.054667  19.548000  19.994667  19.994667
7   2018-05-02  19.904667  20.456667  19.851999  20.076668  20.076668
8   2018-05-03  18.586000  19.202667  18.348667  18.963333  18.963333
9   2018-05-04  18.866667  19.790667  18.634666  19.606001  19.606001
10  2018-05-07  19.833332  20.397333  19.677999  20.184668  20.184668
11  2018-05-08  20.053333  20.516666  19.933332  20.131332  20.131332
12  2018-05-09  20.027332  20.467333  20.003332  20.456667  20.456667
13  2018-05-10  20.500000  20.865999  20.274000  20.334667  20.334667
14  2018-05-11  20.513332  20.591999  19.938667  20.070667  20.070667
15  2018-05-14  20.221333  20.329332  19.441334  19.464666  19.464666
16  2018-05-15  19.000668  19.130667  18.700001  18.945333  18.945333
17  2018-05-16  18.922001  19.254000  18.770666  19.098667  19.098667
18  2018-05-17  19.059999  19.279333  18.931334  18.969334  18.969334
19  2018-05-18  18.976667  18.976667  18.266666  18.454666  18.454666
20  2018-05-21  18.755333  19.432667  18.753332  18.966000  18.966000
21  2018-05-22  19.184000  19.200001  18.228001  18.334000  18.334000
22  2018-05-23  18.517332  18.660667  18.266666  18.604668  18.604668
23  2018-05-24  18.559999  18.740667  18.326000  18.523333  18.523333
24  2018-05-25  18.508667  18.642668  18.374001  18.590000  18.590000
25  2018-05-29  18.567333  19.100000  18.410000  18.917334  18.917334
26  2018-05-30  18.886000  19.667334  18.773333  19.448000  19.448000
27  2018-05-31  19.147333  19.358000  18.862000  18.982000  18.982000
28  2018-06-01  19.057333  19.463333  18.922667  19.454666  19.454666
29  2018-06-04  19.622667  19.933332  19.570000  19.782667  19.782667
30  2018-06-05  19.846666  19.853333  19.115999  19.408667  19.408667
31  2018-06-06  20.033333  21.478001  19.832001  21.299999  21.299999
32  2018-06-07  21.076668  22.000000  20.905333  21.072666  21.072666
33  2018-06-08  21.266666  21.632000  21.143333  21.177334  21.177334
34  2018-06-11  21.500668  22.310667  21.500000  22.139999  22.139999
35  2018-06-12  22.980000  23.664667  22.533333  22.851334  22.851334
36  2018-06-13  23.114000  23.146667  22.653334  22.985332  22.985332
37  2018-06-14  23.175333  23.916668  23.106667  23.848000  23.848000
38  2018-06-15  23.589333  24.311333  23.416668  23.878000  23.878000
39  2018-06-18  23.693333  24.915333  23.633333  24.722000  24.722000
40  2018-06-19  24.344000  24.666668  23.083332  23.503332  23.503332
41  2018-06-20  23.869333  24.292000  23.466667  24.148001  24.148001
42  2018-06-21  24.133333  24.414000  23.084667  23.167334  23.167334
43  2018-06-22  23.436001  23.483334  22.133333  22.242001  22.242001
44  2018-06-25  22.007999  22.564667  21.833332  22.200666  22.200666

       Volume  daily_returns       MA30
0    73401000            NaN        NaN
1    85279500       0.000318        NaN
2    60204000      -0.009772        NaN
3    65340000       0.017065        NaN
4    65469000       0.030125        NaN
5    63423000      -0.000612        NaN
6    69384000       0.020483        NaN
7   134556000       0.004101        NaN
8   260281500      -0.055454        NaN
9   128541000       0.033890        NaN
10  130173000       0.029515        NaN
11   88950000      -0.002642        NaN
12   85911000       0.016161        NaN
13   84774000      -0.005964        NaN
14   70194000      -0.012983        NaN
15  109302000      -0.030193        NaN
16  142788000      -0.026681        NaN
17   85110000       0.008093        NaN
18   66309000      -0.006772        NaN
19  108778500      -0.027132        NaN
20  137739000       0.027708        NaN
21  134187000      -0.033323        NaN
22   89776500       0.014763        NaN
23   62650500      -0.004372        NaN
24   58126500       0.003599        NaN
25   84999000       0.017608        NaN
26  112345500       0.028052        NaN
27   88795500      -0.023961        NaN
28   81366000       0.024901        NaN
29   71967000       0.016860  19.302867
30   89928000      -0.018905  19.320111
31  281509500       0.097448  19.400200
32  215179500      -0.010673  19.478867
33  123078000       0.004967  19.550378
34  197752500       0.045457  19.634867
35  335211000       0.032129  19.743467
36  142047000       0.005864  19.843156
37  164715000       0.037531  19.968867
38  162724500       0.001258  20.132689
39  181098000       0.035346  20.303222
40  191428500      -0.049295  20.413844
41  125755500       0.027429  20.547733
42  119506500      -0.040611  20.638089
43  153991500      -0.039941  20.701667
44  103969500      -0.001858  20.772667

In [13]:
df['MA50'] = df['Close'].rolling(window=50).mean()
print(df.head(100))

          Date       Open       High        Low      Close  Adj Close
0   2018-04-23  19.419333  19.441334  18.822001  18.891333  18.891333  \
1   2018-04-24  19.000000  19.139334  18.563999  18.897333  18.897333
2   2018-04-25  18.900000  19.010668  18.483334  18.712667  18.712667
3   2018-04-26  18.583332  19.052668  18.433332  19.032000  19.032000
4   2018-04-27  19.024668  19.631332  18.922001  19.605333  19.605333
..         ...        ...        ...        ...        ...        ...
95  2018-09-06  18.986668  19.411333  18.591999  18.730000  18.730000
96  2018-09-07  17.340000  17.889999  16.816668  17.549334  17.549334
97  2018-09-10  18.217333  19.068666  18.066668  19.033333  19.033333
98  2018-09-11  18.631332  18.799999  18.236668  18.629333  18.629333
99  2018-09-12  18.762667  19.500000  18.576668  19.369333  19.369333

       Volume  daily_returns       MA30       MA50
0    73401000            NaN        NaN        NaN
1    85279500       0.000318        NaN        NaN
2    60204000      -0.009772        NaN        NaN
3    65340000       0.017065        NaN        NaN
4    65469000       0.030125        NaN        NaN
..        ...            ...        ...        ...
95  112212000       0.000748  21.468244  21.409893
96  337378500      -0.063036  21.371778  21.301547
97  214252500       0.084562  21.345822  21.215640
98  137550000      -0.021226  21.321978  21.130960
99  150231000       0.039722  21.305089  21.071587

[100 rows x 10 columns]

In [14]:
df['MA200'] = df['Close'].rolling(window=200).mean()
print(df.head(250))

           Date       Open       High        Low      Close  Adj Close
0    2018-04-23  19.419333  19.441334  18.822001  18.891333  18.891333  \
1    2018-04-24  19.000000  19.139334  18.563999  18.897333  18.897333
2    2018-04-25  18.900000  19.010668  18.483334  18.712667  18.712667
3    2018-04-26  18.583332  19.052668  18.433332  19.032000  19.032000
4    2018-04-27  19.024668  19.631332  18.922001  19.605333  19.605333
..          ...        ...        ...        ...        ...        ...
245  2019-04-12  18.014668  18.129999  17.788668  17.846666  17.846666
246  2019-04-15  17.908667  17.925333  17.242001  17.758667  17.758667
247  2019-04-16  17.716667  18.333332  17.648001  18.224001  18.224001
248  2019-04-17  18.316668  18.319332  17.902666  18.082001  18.082001
249  2019-04-18  18.082001  18.322666  17.983334  18.217333  18.217333

        Volume  daily_returns       MA30       MA50      MA200
0     73401000            NaN        NaN        NaN        NaN
1     85279500       0.000318        NaN        NaN        NaN
2     60204000      -0.009772        NaN        NaN        NaN
3     65340000       0.017065        NaN        NaN        NaN
4     65469000       0.030125        NaN        NaN        NaN
..         ...            ...        ...        ...        ...
245  101190000      -0.002682  18.456467  19.262720  20.727443
246  150579000      -0.004931  18.414289  19.201613  20.701403
247  109093500       0.026203  18.407222  19.148907  20.675880
248   76897500      -0.007792  18.396089  19.082080  20.651973
249   88144500       0.007484  18.388689  19.023467  20.631370

[250 rows x 11 columns]

In [15]:
print(df.head())

         Date       Open       High        Low      Close  Adj Close
0  2018-04-23  19.419333  19.441334  18.822001  18.891333  18.891333  \
1  2018-04-24  19.000000  19.139334  18.563999  18.897333  18.897333
2  2018-04-25  18.900000  19.010668  18.483334  18.712667  18.712667
3  2018-04-26  18.583332  19.052668  18.433332  19.032000  19.032000
4  2018-04-27  19.024668  19.631332  18.922001  19.605333  19.605333

     Volume  daily_returns  MA30  MA50  MA200
0  73401000            NaN   NaN   NaN    NaN
1  85279500       0.000318   NaN   NaN    NaN
2  60204000      -0.009772   NaN   NaN    NaN
3  65340000       0.017065   NaN   NaN    NaN
4  65469000       0.030125   NaN   NaN    NaN

In [16]:
lookback_period = 14
delta = df['Close'].diff()
up = delta.where(delta > 0, 0)
down = -delta.where(delta < 0, 0)
avg_gain = up.rolling(window=lookback_period).mean()
avg_loss = down.rolling(window=lookback_period).mean()
rs = avg_gain / avg_loss
df['RSI'] = 100 - (100 / (1 + rs))
print(df.head(250))

           Date       Open       High        Low      Close  Adj Close
0    2018-04-23  19.419333  19.441334  18.822001  18.891333  18.891333  \
1    2018-04-24  19.000000  19.139334  18.563999  18.897333  18.897333
2    2018-04-25  18.900000  19.010668  18.483334  18.712667  18.712667
3    2018-04-26  18.583332  19.052668  18.433332  19.032000  19.032000
4    2018-04-27  19.024668  19.631332  18.922001  19.605333  19.605333
..          ...        ...        ...        ...        ...        ...
245  2019-04-12  18.014668  18.129999  17.788668  17.846666  17.846666
246  2019-04-15  17.908667  17.925333  17.242001  17.758667  17.758667
247  2019-04-16  17.716667  18.333332  17.648001  18.224001  18.224001
248  2019-04-17  18.316668  18.319332  17.902666  18.082001  18.082001
249  2019-04-18  18.082001  18.322666  17.983334  18.217333  18.217333

        Volume  daily_returns       MA30       MA50      MA200        RSI
0     73401000            NaN        NaN        NaN        NaN        NaN
1     85279500       0.000318        NaN        NaN        NaN        NaN
2     60204000      -0.009772        NaN        NaN        NaN        NaN
3     65340000       0.017065        NaN        NaN        NaN        NaN
4     65469000       0.030125        NaN        NaN        NaN        NaN
..         ...            ...        ...        ...        ...        ...
245  101190000      -0.002682  18.456467  19.262720  20.727443  54.335382
246  150579000      -0.004931  18.414289  19.201613  20.701403  49.108171
247  109093500       0.026203  18.407222  19.148907  20.675880  49.055877
248   76897500      -0.007792  18.396089  19.082080  20.651973  45.150293
249   88144500       0.007484  18.388689  19.023467  20.631370  45.713176

[250 rows x 12 columns]